<div class="container view">
    <div class="row row-content">
        <div class="col-xs-10 col-offset-2" data-ng-controller="migrationTarget">
            <h1> OMEGAMON XE and Tivoli Management Services on z/OS Pre-installation Checklist</h1>
            <h3> For a worry-free successful deployment, read through the instructions for each step and ensure the required actions are completed or verified. </h3>
            <br/>
            <br/>
            <h3> {{ title }} </h3>
            <br/>
            <br/>
            <br/>
            <p>
                <ai>To make right decisions, be familiar with the framework architecture:</ai>
                <img border="0" src="/architecture.jpg">
            </p>            
        </div>
    </div>
  
    <div class="row span12" style="padding: 10px">
      <div ng-include="'/app/partials/buttons.html'"></div>
    </div>
</div>
