<header class="jumbotron">

    <div id=iframe_div style="visibility:hidden">
        <iframe height="0" width="0" src="https://idaas.iam.ibm.com/pkmslogout"></iframe>
        <iframe height="0" width="0" src="https://www-304.ibm.com/pkmslogout?_logrand=0.5632884121202146"></iframe>
        <iframe height="0" width="0" src="https://www-947.ibm.com/pkmslogout?_logrand=0.5623708715014116"></iframe>
        <iframe height="0" width="0" src="https://prepiam.toronto.ca.ibm.com/pkmslogout"></iframe>
    </div>

    <META HTTP-EQUIV="refresh" CONTENT="5,URL=/" />

    <div class="container">
        <div class="row">
            <div class="col-xs-1"></div>
            <!--div class="col-xs-12 col-md-3">
                <a class="brand " href="/#/">
                    <img src="images/ibmLogo.png" style="width:250px;height:200px;" alt="logo" />
                </a>
            </div-->
            <div class="col-xs-10"></div>
            <h1 style="text-align: center;">OMEGAMON Pre-installation Checklist</h1>
        </div>
    </div>
</header>

<div class="container">
    <h3> You are being logged out ... </h3>
    <h5> You will be redirecting back to 
        <a href="/">OMEGAMON Pre-installation Checklist</a> on logout completion.
    </h5>
</div>
