<div class="fluid-container" data-ng-controller="migrationInfoController" id="migrationAssistantPage">
    <!--div class="span4 section"-->
    <header class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-10">

                    <h1 style="text-align: center;">OMEGAMON XE and TMS on z/OS<br/>{{ migrationMessage }}</h1>
                </div>
            </div>
        </div>
    </header>

    <div class="col-xs-12">
        <div class="page-content ">
            <ng-include src="templateUrl "></ng-include>
        </div>
    </div>
</div>
