<div class="container-fluid">
    <div class="row"></div>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-11">
            <h3> Thank-you for using the IBM Enterprise COBOL migration assistant!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-11">
            <h4> Here is a summary of your
            <a href="/migration-info/progress">
                migration steps
            </a>
            .</h4>
        </div>
    </div>
</div>
