<div>
    <!--    <div class="col-xs-12 col-md-2"></div>-->
    <!--    <div class="col-xs-12 col-md-8">-->
    <h1>
    Unexpected migration result
    </h1>
    <p>
        <br/>
        <em style="text-align: center;">
            Runtime results should not be different between Enterprise COBOL V5/V6 compared to previous COBOL compilers when there are no SSRANGE and no ZONECHECK errors found in the code.  If your programs do not get SSRANGE or ZONECHECK errors, but the results are different with COBOL V5/V6, then you may have found a defect in the IBM COBOL compiler.  
            <br/>
            <br/>
            For this instance, analyze the differences, i.e. get details on COBOL statements, data item contents, etc, and call IBM service to report it as a possible IBM defect.
            <br/>
            <br/>
            Additional resources can also be found in our <a href="/migration-info/support">support page</a>.
        </em>
    </p>
</div>
