<div class="container">
    <h3> {{ title }} </h3>
    <p>
        Enterprise COBOL for z/OS, V5 and V6 require more memory to run than previous COBOL compilers. TSO user IDs require 200 MB or more of memory.
        <br/>

        <br/> In many environments, the system programmer has to raise the maximum TSO user region size to 200 MB or more. If users cannot get a large enough region size to compile their programs, they will get a compiler ABORT and will not be able to compile any programs.

        <br/>
        <br/>
        <ai>Have you ensured that your application programmers have adequate region sizes available for their TSO user IDs?</ai>
        <br/>
    </p>
    <div ng-include="'/app/partials/buttons.html'"></div>
</div>
